<div class="container mt-5">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12 mb-3">
        <div
          class="card text-center h-100"
          style="background-color: #f8d7da;"
          (click)="navigateTo('assignedtasks')"
        >
          <div class="card-body">
            <h5 class="card-title">Assigned Tasks</h5>
            <p class="card-text">
              View Assigned Tasks 
            </p>
          </div>
        </div>
      </div>
  
      <div class="col-lg-4 col-md-4 col-sm-12 mb-3">
        <div
          class="card text-center h-100"
          style="background-color: #d4edda;"
          (click)="navigateTo('completedtasks')"
        >
          <div class="card-body">
            <h5 class="card-title">Completed Tasks</h5>
            <p class="card-text">Review your Completed  Tasks.</p>
          </div>
        </div>
      </div>
  
  
  