<div class="home-container">
    <!-- Main Banner Section -->
    <div class="banner">
      <div class="banner-text">
        <h1>Vehicle Service Management System</h1>
        <p>We will take care of your vehicle</p>
        <button class="service-btn">Book Service </button>
      </div>
    </div>
  
    <!-- Services Section -->
    <div class="services">
      <div class="service-types">
        <h3>We Do Service For:</h3>
        <ul>
          <li>2 Wheeler Vehicle</li>
          <li>4 Wheeler Vehicle</li>
        </ul>
      </div>
  
      <div class="service-offers">
        <h3>Our Services</h3>
        <input type="text" placeholder="Search Service Here" class="search-bar" />
        <div class="search-icon">
          <i class="fa fa-search"></i>
        </div>
        <div class="service-cards">
          <div class="card">
            <h4>Change Oil</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer non justo ut justo vehicula volutpat.</p>
          </div>
          <div class="card">
            <h4>Engine Tune Up</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus finibus elit amet.</p>
          </div>
          <div class="card">
            <h4>Overall Checkup</h4>
            <p>General vehicle examination to make sure it's in good condition for the road.</p>
          </div>
          <div class="card">
            <h4>Tire Replacement</h4>
            <p>Replacement of old tires for a smoother and safer drive.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  

